* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

header {
    background-color: darkslategray;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    color: lightgray;
}

header a {
    text-decoration: none;
    color: lightgray;
}

header nav {
    margin: 7px 0;
}

/* styles the navigation list */
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
/* styles the list items in the navigation list */
header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.55vw;
}

section {
    padding: 80px;
}

.hero {
    background-image: url("../images/hero.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: flex;
}

.comfortable h3 {
    font-size: 20px;
    position: absolute;
    right: 10px;
    padding: 10px;
    background-color: rgba(211,211,211, 0.25);
    font-style: oblique;
    border-radius: 25px;
}

.content h2 {
    flex-direction: column;
}

.about {
    font-size: 30px;
    display: flex;
    padding-bottom: 50px;
    text-align: left;
}

.about h2 {
    border-right: 4px solid black;
    padding-right: 38px;
    padding-left: 20px;
}

.about p {
    font-size: 16px;
    padding: 50px;
}

.work {
    font-size: 30px;
    display: flex;
    padding-bottom: 400px;
}

.work h2 {
    border-right: 4px solid black;
    padding-right: 20px;
    padding-left: 130px;
}

.run-buddy {
    margin-left: 100px;
}

.run-buddy img {
    width: calc(100% + 20px);
    margin-left: auto;
    position: relative;
    border: 2px solid black;
}

.run-buddy h3 {
    position: absolute;
}

.row-one {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.row-two {
    display: flex;
    gap: 20px;
}

.placeholder {
    width: 100%;
    height: 600px;
    border: none;
}

.placeholder img {
    width: 50%;
    border: 2px solid black;
    position: relative;
}    

.contact-me {
    font-size: 30px;
    display: flex;
}

.contact-me h2 {
    border-right: 4px solid black;
    padding-right: 20px;
}

.contact-me ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 50px;
}

.contact-me ul li {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
}

.contact-me ul li a {
    text-decoration: underline;
    color: black;
}